@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');
@import 'tailwindcss';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

.font-manrope {
  font-family: 'Manrope', sans-serif;
}
.font-playfair {
  font-family: 'Playfair Display', serif;
}
